body{
    height: 100vh;
    width: 99%;
    font-family: sans-serif;

}
.header
{
  height: 800px;
 background-color: #8b3030 ;
 margin-bottom: 120px;
}
.logo{
      height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-top: 50px;
}
.heading{
    margin-left: 100px;
    color: white;
    font-size: 80px;
 font-family: roboto, senserif;
 margin-top: 5px;
    font-family: sans-serif;
    font-weight: 1000;
}
.heading2{
    margin-left: 100px;
    font-size: 38.7px;
    margin-top: -80px;
    font-family: sans-serif;
    font-weight: 1000;
}
.textcontainer{
   
    width: 70%;
    margin-left: 100px;
    height: 200px;
}


.textcontainer p1{
    color: white;
   line-height: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}

.textcontainera{
    height: 100px;
 
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
 
}
.textcontainera p2{
    color: white;
     font-size: 20px;
    letter-spacing: 1px;
     line-height: 30px;
}

.triangle {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid white;
    float: right;
    z-index: 1;
    margin-top: 18px;
    margin-right: 0px;
}

.maincontainer1{
    
    height: 400px;
    width: 99%;
 justify-content: center;

}
.div1{
 
 height: 80px;
 display: flex;
 gap: 15px;
 align-items: center;
}
.div1 img{
    height: 50px;
    margin-left: 100PX;
}
.div1 h1{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 1000;
}
.div2{
  
    height: 315px;
    width: 80%;
   margin-left: 10%;
     display: flex;
  
    gap: 55px;
}
.bvbimage{
    
    display: flex;
    flex-direction: column;
    text-align: center;
}
.bvbimage img{
    height: 150px;
}
.bvbimage p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
    color: red;
    margin-bottom: 0;
}
.bvbimage p1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
    color:black;
}
.endcontainer{
    height: 400px;
    background-color: #98242a;


}
.textcontainerc{
      font-family: sans-serif;
    font-weight: 1000;
    font-size: 38.7px;
    color: white; 
  

    width: 80%;
    margin-left: 150px;
    
 
}
.ab{
    padding-top: 100px;
    font-size: 44px;
}
 .triangle2 {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid rgb(250, 250, 250);
    float: right;
    z-index: 1;
    margin-right: 0px;
    margin-top: -11px;
}
 




