body{
    height: 100vh;
    width: 99%;
    font-family: sans-serif;

}
.header
{
  height: 800px;
 background-color: #8b3030 ;
 margin-bottom: 120px;
}
.logo{
      height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-top: 50px;
}
.heading{
    margin-left: 100px;
    color: white;
    font-size: 80px;
 font-family: roboto, senserif;
 margin-top: 5px;
    font-family: sans-serif;
    font-weight: 1000;
}
.heading2{
    margin-left: 100px;
    font-size: 38.7px;
    margin-top: -80px;
    font-family: sans-serif;
    font-weight: 1000;
}
.textcontainer{
   
    width: 70%;
    margin-left: 100px;
    height: 200px;
}


.textcontainer p1{
    color: white;
   line-height: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}

.textcontainera{
    height: 100px;
 
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
 
}
.textcontainera p2{
    color: white;
     font-size: 20px;
    letter-spacing: 1px;
     line-height: 30px;
}

.triangle {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid white;
    float: right;
    z-index: 1;
    margin-top: 18px;
    margin-right: 0px;
}
.first{
    margin-top: 120px;
 
  
}
.top{
    display: flex;
}
.pic{
    display: flex;
        margin-top: 45px;
    margin-left: 150px;
}
.headinga{
      margin-top: -75px;
    margin-left: 220px;
      font-family: sans-serif;
    font-weight: 1000;
   font-size: 70px;
}
.firstmain{

    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main1{
    width: 80%;

        height: 250px;
    display: flex;
}
.dortu{
    
    width: 20%;
   
    flex-direction: column;
    
}
.dortu img{
    margin-left: 20px;
    height: 150px;
    padding-bottom: 20px;
}
.dortu p1{
     margin-left: 20px;
     font-size: 20px;
     font-family: sans-serif;
     font-weight: 1000;
     color: #98242a;
     padding-top: 60px;
}
.dortu p2{
  
     margin-left: 60px;
     font-size: 17px;
     font-family: sans-serif;
     font-weight: 1000;
     color: rgb(8, 8, 8);
}
.endcontainer{
    height: 400px;
    background-color: #98242a;


}
.textcontainerc{
      font-family: sans-serif;
    font-weight: 1000;
    font-size: 38.7px;
    color: white; 
  

    width: 80%;
    margin-left: 150px;
    
 
}
.ab{
    padding-top: 100px;
    font-size: 44px;
}
 .triangle2 {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid rgb(250, 250, 250);
    float: right;
    z-index: 1;
    margin-right: 0px;
    margin-top: -11px;
}
 




