body{
    height: 100vh;
    width:99%;
    box-sizing: border-box;
}
header{
    display: flex;

 
}
header img{
    height: 100px;
    width: 7%;
    margin-left: 10px;
    margin-top: 10px;
}
.container{
    background-color: #98242a;
    display: flex;
    width: 99%;
}
.leftcontainer{
    width: 40%;
 
}
h1{
    color: white;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 220px;
}
p{
    margin-left: 90px;
}
.leftbutton{
       height: 15px;
    margin-left: 400px;
    width: 10px;


}
h2{
    margin-left: 85px;
    font-size: 28px;
    margin-top: -10px;
}
.leftbutton1{
       height: 15px;
    margin-left: 380px;
    width: 10px;
}
   
.rightcontainer{
 width: 58%;
 
 margin-left: 30px;
}

.formcontainer{
    background-color: transparent;
    margin-left: 50px;
  
    display: flex;
    flex-direction: column;
  
    gap: 10px;
    margin-top: 30px;
  padding-right: 250px;
}
.inputs{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    gap: 10px;
    padding-right: 0px;
   

}
.formcontainer label{
    margin-bottom: 5px;
}
.formcontainer input::placeholder{
 color: white;
}
.subscript h1{ 
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
  Geneva, Verdana, sans-serif;
  color: black; 
  font-size: 28px;
  margin-top: -0px;
  margin-left: -0px;
}

.subscript{

    width: 600px;
    
}
.subscript p{
    margin-left: 0px; 
   color: white;
   font-size: 12px;
}
.checkmain{
    display: flex;
    margin: 10px;
    width: 100%;
  margin-left: -3px;
 
  
  
}
.checkbox{
 
   color: white;
    width: 100%;
    height: 30px;
    margin-top: -10px;

 

}
.checkbox input{
    accent-color: transparent;
}


 .checkbox-1 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  position: relative;
}

/* Add a visual checkmark */
.checkbox-1::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  transform: rotate(45deg);
}

.para{
  
    color: white;
  margin-left: 30Px;
  border: 2px sol rgb(240, 233, 233);margin-top: -25PX;
}
.mybutton{
    height: 15px;
    margin-left: 250px;
    width: 10px;
margin-top: 15px;

}
.abc{
    margin-top: -30px;
    margin-left: 10px;
}
.firstform{
    height: 50px;
    padding: 2px;
 border: 2px solid rgb(225, 216, 216);
    margin-top: 10px;
}
.para1{
    color: white;
}
.checkmain1{
   
       display: flex;
    margin: 10px;
    width: 100%;
  margin-left: -3px;
  
}
.checkmain2{
   
    margin: 10px;
    display: flex;
    width:600px ;
    margin-left: -3px;
   
}
.mybuttona{
  
     height: 15px;
    margin-left: -335px;
    width: 10px;
   margin-top: 25PX;
}
.checkmain3{
       display: flex;
    margin: 10px;
   width:600px ;
   margin-left: -3px;
}
.mybuttonb{
    
     height: 15px;
    margin-left: -335px;
    width: 10px;
   margin-top: 25PX;
}
.checkmain4{
    display: flex;
    margin: 10px;
    width:600px ;
      margin-left: -3px;
}
.mybuttonc{
       height: 15px;
    margin-left: -335px;
    width: 10px;
   margin-top: 25PX;
}
 .sub{
    height: 200px;
    margin-top: 10px;
   
    width: 55%;
    margin-left: 100px;
   
 }  
 .endbutton{
    font-size: 25px;
  width: 100%;
    height: 40px;
 margin-left: -50px;
 
   display: flex;
 }   
.triangle {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid #fff;
    float: right;
    z-index: 1;
    margin-top: -80px;
    margin-right: -12px;
}
