body{
    height: 100vh;
    width:99%;
    box-sizing: border-box;
}
header{
    display: flex;

 
}
header img{
    height: 100px;
    width: 7%;
    margin-left: 10px;
    margin-top: 10px;
}
.container{
    background-color: #98242a;
    display: flex;
    width: 99%;
}
.leftcontainer{
    width: 40%;
 
}
h1{
    color: white;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 250px;
}
p{
    margin-left: 90px;
}
.leftbutton{
       height: 15px;
    margin-left: 400px;
    width: 10px;
position: relative;

}
.leftbutton i{
left: -6px;
position: relative;
bottom: 3px;
font-size: 10px;
color: white;
}
h2{
    margin-left: 85px;
    font-size: 28px;
    margin-top: -10px;
}
.leftbutton1{
       height: 15px;
    margin-left: 380px;
    width: 10px;
}
.leftbutton1 i{
left: -6px;
position: relative;
bottom: 3px;
font-size: 10px;
color: white;
}
   
.rightcontainer{
 width: 58%;

 margin-left: 30px;
}

.formcontainer{
    background-color: transparent;
    margin-left: 50px;
  
    display: flex;
    flex-direction: column;
  
    gap: 10px;
    margin-top: 30px;
  padding-right: 250px;
}
.inputs{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    gap: 10px;
    padding-right: 0px;
   

}
.formcontainer label{
    margin-bottom: 5px;
}
.formcontainer input::placeholder{
 color: white;
}
.subscript h1{ 
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
  Geneva, Verdana, sans-serif;
  color: black; 
  font-size: 28px;
  margin-top: -0px;
  margin-left: -0px;
}

.subscript{

    width: 600px;
    
}
.subscript p{
    margin-left: 0px; 
   color: white;
   font-size: 12px;
}
.main{
    height: 160px;
 
    width:420px;
    margin-left: 0px;
}
.uppermain{
    height: 40px;

    display: flex;
}
.uppermain1{
    height: 40px;
margin-top: -50px;
    display: flex;
}
.upper1{
  
    width: 70%;
    display: flex;
}
.upper2{
      
    width: 30%;
}

.checkbox input{
  margin-top: 10px;
    margin-left: -2px;
    width: 10px;
    height: 10px;
      
    background-color: transparent;
     
     cursor: pointer;
     border: 2px solid white;
    
}
.checkbox label{
    color: white;
}
.upper2 button{
    height: 15px;
    width: 15px;
   margin-left:px;
    position: relative;
}
.upper2 button i{
    color:white;
    margin-left: -8px;
    margin-top:-30px;
    margin-bottom: px;
    position: relative;
    bottom: 3.5px;
    left: 1.5px;
    font-size: 10px;
}
.upper3 button{
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-left: 5px;
}
.lowermain textarea{
 width: 98%;
background-color: transparent;
color: white;
height: 50px;

border: 2px solid white;
}
.lowermain textarea::placeholder{
    color: white;
  
}

.main2{
    height: 70px;
  margin-top: -40px;
    width: 420px;
}
.main2 button{
    height: 45px;
    width: 380px;
    margin-left: 0px;

}
.main2 p1{
    font-size: 28px;
    margin-left: 0px;
}
.endcontainer{
    height: 50px;
    width: 713px;
 
  
}
 .triangle {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid white;
    float: right;
    z-index: 1;

  margin-left: 2px;
  
}
.check1{
    display: none;
}
.tick{
    background-color: transparent;
    display: inline-flex;
    width: 10px;
    height: 25%;
    border: 1px solid rgb(251, 248, 248);
}
 .abb{
    font-size: 10px;
 }


