body{
    height: 100vh;
    width:99%;
    box-sizing: border-box;
}
header{
    display: flex;

 
}
header img{
    height: 100px;
    width: 7%;
    margin-left: 10px;
    margin-top: 10px;
}
.container{
    background-color: #98242a;
    display: flex;
    width: 99%;
}
.leftcontainer{
    width: 40%;
 
}
h1{
    color: white;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 250px;
}
p{
    margin-left: 90px;
}
.leftbutton{
       height: 15px;
    margin-left: 400px;
    width: 10px;


}
h2{
    margin-left: 85px;
    font-size: 28px;
    margin-top: -10px;
}
.leftbutton1{
       height: 15px;
    margin-left: 380px;
    width: 10px;
}
   
.rightcontainer{
 width: 58%;

 margin-left: 30px;
}

.formcontainer{
    background-color: transparent;
    margin-left: 50px;
  
    display: flex;
    flex-direction: column;
  
    gap: 10px;
    margin-top: 30px;
  padding-right: 250px;
}
.inputs{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    gap: 10px;
    padding-right: 0px;
   

}
.formcontainer label{
    margin-bottom: 5px;
}
.formcontainer input::placeholder{
 color: white;
}
.subscript h1{ 
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
  Geneva, Verdana, sans-serif;
  color: black; 
  font-size: 28px;
  margin-top: -0px;
  margin-left: -0px;
}

.subscript{

    width: 600px;
    
}
.subscript p{
    margin-left: 0px; 
   color: white;
   font-size: 12px;
}
.main{
    height: 160px;
 
    width:420px;
    margin-left: 0px;
}
.uppermain{
    height: 40px;

    display: flex;
}
.upper1{
  
    width: 70%;
}
.upper2{
      
    width: 30%;
}
.checkbox input{
  
    margin-left: 5px;
}
.checkbox label{
    color: white;
  margin-left: -30px;
    padding: 30px;
    font-family: sans-serif;
    margin-top: 5px;
}
.upper2 button{
    height: 15px;
    margin-top: 5px;
    margin-left: 3px;
}
.lowermain{
    border: 2px solid white;
    height: 100px;
   width: 95%;
    margin-top: 5px;
    margin-left: 10px;
}
.lowermain label{
    color: white;
    margin-left: 10px;
}
.main2{
    height: 70px;
  
    width: 420px;
}
.main2 button{
    height: 40px;
    width: 380px;
    margin-left: 10px;
}
.main2 p1{
    font-size: 28px;
    margin-left: 0px;
}
.endcontainer{
    height: 50px;
    width: 713px;
  
  
}
 .triangle {
      width: 0;
    height: 0;
    border-left: 85px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid white;
    float: right;
    z-index: 1;

  margin-left: 2px;
  
}
 
